# This is a basic workflow to help you get started with Actions

name: Continuous Delivery

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  # Trigger the workflow every Sunday at midnight
  schedule:
    - cron: 0 0 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Copy the application to run folder
        run: |
          cd $GITHUB_WORKSPACE
          npm install
          npm audit fix || true
          npm run build
          node ./generate-sitemap.js
          rm -rf $GITHUB_WORKSPACE/node_modules
          npm install --only=prod
          npm audit fix || true
          pm2 stop scam-hunter-site
          pm2 stop scam-terminator
          rm -rf /home/sha_tindle/repos/discord-scam-terminator/node_modules
          cp -r $GITHUB_WORKSPACE/* /home/sha_tindle/repos/discord-scam-terminator
          pm2 restart scam-terminator
          pm2 restart scam-hunter-site
